* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #000;
  background-color: #fff;
  font-family: sans-serif, Arial;
  margin-top: 40px;
}

h1 {
  color: #2A2A40;
  font-size: 35px;
  font-family: sans-serif, Arial;
  text-align: center;
  margin: 20px 0;
}

.todo-list-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Todo List Style */

.todo-main-list {
  width: 600px;
  min-height: 500px;
  background-color: #c8c7c6;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}